.icon {
    display: inline-block;
    &-messenge {
        background: url(../img/icons/messenge.svg) no-repeat;
        width: 20px;
        height: 20px;
    }
    &-phone {
    	background: url(../img/icons/tel1.svg) no-repeat;
    	width: 18px;
    	height: 18px;	
    }
    &-search {
    	background: url(../img/icons/search.svg) no-repeat;
    	width: 16px;
    	height: 16px;
    }

    &-smart-phone {
        background: url(../img/icons/tel2.svg) no-repeat;
        width: 16px;
        height: 16px;
    }
    &-marker {
        background: url(../img/icons/map.svg) no-repeat;
        width: 16px;
        height: 16px;
    }
    &-clock {
        background: url(../img/icons/time.svg) no-repeat;
        width: 16px;
        height: 16px;
    }

    &-inst {
        background: url(../img/inst.png) no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

    &-fb {
        background: url(../img/fb.png) no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

    &-tw {
        background: url(../img/tw.png) no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }

    &-you {
        background: url(../img/you.png) no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }
    &-gplus-dark {
        background: url(../img/sprite.png) no-repeat;
        background-position: -87px 0px;
        background-size: cover;
        width: 30px;
        height: 30px;
    }
    &-inst-dark {
        background: url(../img/sprite.png) no-repeat;
        background-position: 0px 0px;
        background-size: cover;
        width: 30px;
        height: 30px;
    }
    &-fb-dark {
        background: url(../img/sprite.png) no-repeat;
        background-position: -43px 0px;
        background-size: cover;
        width: 30px;
        height: 30px;
    }
    &-share {
        background: url(../img/share.png) no-repeat;
        background-size: contain;
        width: 25px;
        height: 25px;
    }
}