body {
    // font-family: arial;
    min-width: 360px;
    font-family: 'Roboto Condensed', sans-serif;
    min-width: 1185px;
}

main {
    min-height: calc(100% - 50px - 133px - 165px - 56px);
}

a {
    color: $c-dark-text;
    text-decoration: none; // &:hover {
    //     text-decoration: underline;
    // }
}

.container {
    width: 100%;
    max-width: 1185px;

    margin: auto;
    padding: 0 20px;
    min-width: 300px;
}


.pagination {
    display: flex; // margin-top: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    &__prev,
    &__next {
        border: solid #aaa;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        cursor: pointer;
    } // &__prev {
    //     margin-right: 20px;
    //     transform: rotate(135deg);
    //     -webkit-transform: rotate(135deg);
    // }
    // &__next {
    //     margin-left: 20px;
    //     transform: rotate(-45deg);
    //     -webkit-transform: rotate(-45deg);
    // }
    &__item {
        padding: 5px 3px;
        color: #333;
        font-size: 15px;
        cursor: pointer; // border: 1px solid #ccc;
        // border-radius: 100%;
        width: 30px;
        height: 30px;
        display: flex;
        background: #C6C6C6;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        &:last-child {
            margin: 0;
        }
        &.active {
            // color: #fff;
            background: $c-green-light; //C0CA74
        }
    } // &__dots {
    //     margin: 0 7px 0 0px;
    //     font-size: 20px;
    // }
}

.btn {
    border: 1px solid #fff;
    border-radius: 25px;
    background: none;
    padding: 5px 20px;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 0.2s;
    color: #fff;
    display: flex;
    align-items: center;
    &:hover {
        // background: #f4387d;
    }
    &:active {
        transform: translateY(1px);
    }
    &.filled {
        background: $c-green;
        &:hover {
            background: none;
            color: $c-green;
            border-color: $c-green;
        }
    }
    &.transparent {
        background: none;
        color: $c-green;
        border-color: $c-green;
        &:hover {
            background: $c-green;
            color: #fff; // border-color: darken($c-green, 10%);
            // color: darken($c-green, 10%);
        }
    }
}


.main-content {
    background: url(../img/background_.jpg);
    .container {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
    }
    &__left {
        padding-top: 13px;
        width: 266px;
    }
    &__right {
        padding-top: 11px;
        width: 74%;
    }
    &__sidebar {
        &__list {
            margin-bottom: 37px;
            &__item {
                &:hover {
                    cursor: pointer;
                    color: #000;
                }
                color: #636363;
                font-size: 20px;
                position: relative;
                border-left: 3px solid $c-green-light;
                margin-bottom: 14px;
                padding: 6px 8px 6px 8px;
                ;
            }
            li {
                &.active {
                    .main-content__sidebar__list__item {
                        background: $c-green;
                        color: #fff; // margin-bottom: 0;
                        border-left: 2px solid $c-green; // padding: 6px 8px;
                    }
                    ul {
                        display: block;
                    }
                }
                ul {
                    display: none;
                    padding: 6px 0 5px 0;
                    margin-top: -14px;
                    li {
                        padding: 6px 0 5px 22px;
                        border-left: none;
                        color: #636363;
                        font-size: 20px;
                        &.active {
                            color: $c-green;
                            a {
                                color: $c-green;
                            }
                        }
                        &:hover {
                            // text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        &__title {
            border-bottom: 4px solid $c-green-light;
            font-size: 18px;
            letter-spacing: .1px;
            padding: 0 0 10px 4px;
            margin-bottom: 18px;
            color: $c-dark-text;
        }
        &__subtitle {
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.6px;
            color: $c-dark-text;
        }
        &__img {
            margin-bottom: 24px;
            img {
                width: 100%;
            }
            &__more {
                color: $c-dark-text;
                font-size: 12px;
                text-align: right;
                margin-top: 7px;
                a:hover{
                    color: #000;
                    text-shadow: 0px 0px 0px #000;
                }
            }
        }
        &__buttons {
            display: flex;
            margin: 10px 0px 38px 0;
            justify-content: space-between;
            .btn {
                width: 48%;
                font-size: 14px;
                letter-spacing: 0.3px;
                padding: 8px 0px;
                text-align: center;
                justify-content: center;
            }
        }
        &__quiz {
            padding-left: 7px;
        }
        &__events {
            &__item {
                color: $c-dark-text;
                font-size: 14px;
                margin-bottom: 7px;
            }
        }
    }
    &__body {
        // border: 1px solid;
        &__title {
            border-bottom: 4px solid $c-green-light;
            font-size: 22px;
            letter-spacing: 0.2px;
            padding: 0 0 12px;
            margin-bottom: 26px;
            color: $c-dark-text;
            text-align: center;
        }
        &__secondary-title {
            color: $c-dark-text;
            text-align: center;
            font-size: 22px;
            margin-bottom: 15px;
            text-transform: uppercase;
            line-height: 24px;
        }
        &__subtitle {
            color: $c-dark-text;
            text-align: center;
            font-size: 18px;
            margin-bottom: 16px;
            margin-top: 23px;
        }
    }
}

.info-block {
    box-shadow: 0 0 20px -5px #000;
    padding: 13px 12px;
    background: #fff;
    border-top: 3px solid $c-green-light;
    margin-bottom: 10px;
    min-height: 150px;
    &__see-all {
        text-align: right; // margin-top: 15px;
        font-size: 12px;
        margin-bottom: 4px;
        margin-top: 2px;
        color: $c-dark-text;
        a:hover{
            color: #000;
            text-shadow: 0px 0px 0px #000;
        }
    }
    &__text {
        font-size: 14px;
        margin-bottom: 20px;
    }
    &__socials {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &__text {
            color: $c-dark-text;
            font-size: 12px;
        }
        &__icons {
            width: 150px;
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.events-poster {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item {
        position: relative;
        width: calc(100%/3 - 10px);
        font-size: 0;
        margin-bottom: 19px;
        &:hover {

            .events-poster__item__descr {
                text-shadow: 0px 0px 1px #fff;
            }
        }
        img {
            width: 100%;
        }
        &__descr {
            bottom: 0;
            width: 100%;
            font-size: 16px;
            padding: 15px 10px;
            background: $c-green-trans;
            position: absolute;
            color: #fff;
        }
    }
}

.news-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item {
        position: relative;
        width: calc(100%/3 - 10px);
        font-size: 0;
        margin-bottom: 15px;
        &:hover {

            .news-block__item__date,
            .news-block__item__descr {
                // color: #000;
                text-shadow: 0px 0px 0px #000;
            }
            .news-block__item__title {
                text-shadow: 0px 0px 0px $c-green;
            }
        }
        img {
            width: 100%;
        }
        &__date {
            margin-top: 10px;
            font-size: 12px;
            color: $c-dark-text;
        }
        &__title {
            color: $c-green;
            font-size: 16px;
            margin-top: 6px;
            letter-spacing: 0.3px;
        }
        &__descr {
            font-size: 14px;
            margin-top: 5px;
        }
    }
}

.video-gallery-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item {
        position: relative;
        width: calc(100%/2 - 10px);
        font-size: 0;
        margin-bottom: 10px;
        img {
            width: 100%;
        }
        &__title {
            color: $c-green;
            font-size: 16px;
            margin-top: 12px;
            letter-spacing: 0.3px;
        }
    }
}

.photo-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    img {
        width: calc(100%/4 - 5px);
        margin-bottom: 5px;
    }
}


.contacts-block {
    background: #464646;
    .container {
        display: flex;
        padding: 31px 13px 43px 40px; // justify-content: space-between;
        height: 165px;
    }
    &__list {
        width: 20%;
        padding: 0 30px;
        border-right: 2px solid #383838;
        position: relative;
        display: flex;
        justify-content: center;
        line-height: 24px;
        .icon {
            position: absolute;
            left: -24px;
            margin-top: 3px;
        }
        &:last-child {
            border: none;
            width: 40%;
        }
        &__item {
            color: #EDEDED;
            position: relative;
            font-size: 17px;
        }

        &__images {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            img {
                &:first-child {
                    width: 198px;
                    margin-right: 40px;
                }
                &:last-child {
                    width: 148px;
                }
            }
        }
    }
}